.venv
___RESULT TRAIN 1/data/**
___RESULT TRAIN 2/data
__DATASET FOR TRAIN 1
__DATASET FOR TRAIN 2
__DATASET FOR TRAIN 3
data
data_images_for_train_1
data_images_for_train_2
data_reduction

data.yaml
*.mp4
*.avi